/* Logo.css */

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 5rem;
    height: 5rem;
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
  }